@import url('https://fonts.googleapis.com/css?family=Roboto');
html * {
  font-family: "Roboto";
  font-size: 1em !important;
  overflow-y: hidden;
  overflow-x: hidden;
}

#board {
  height: 100vh;
  margin-left: 25px;
  grid-area: board;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

#container {
  display: grid;
  grid-template-areas: "board board board display";
}
